<h1>
    <%= @cocktail.name %>
</h1>
<br>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li> What it takes?
  <br>
  <%= dose.description %>
  of
  <%= dose.ingredient.name %>
  <br>
  <%= link_to "Delete Dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>

<%= link_to "Edit Cocktail", edit_cocktail_path%>
<br>
<%= link_to "Edit Doses", new_cocktail_dose_path(@cocktail)%>
<br>
<%= link_to "Delete Cocktail #{@cocktail.name}", cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}%>
<br>
<%= link_to "Return", cocktails_path %>
